@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", serif;
}

body {
    background-color: #fff;

}

.about .heading {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 3rem;
}

.about p{
    font-size: 1rem;
    font-weight: 500;
    margin:1rem 6rem 0 6rem;
    text-align: justify;
}

.about .team-images{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .team-images .img{
    width: 300px;
    height: 250px;
    background-color: #c9d8ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.about .team-images .img img{
    width: 250px;
    height: 250px;
}

.about .team-images .img p{
    font-size: 1.2rem;
    font-weight: 600;
}
footer {
    width: 100%;
    margin-top: 4rem;
    height: auto;
    background-color: #5f6fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}