@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", serif;
}

#whole_container{

    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.left{
    /* border: 2px solid red; */
    margin-left: 48px;
}

#doctor_image{

    width: 242px;
    height: 262px;
    border: 2px solid #c9d8ff;
    border-radius: 10px;
    margin-top: 1.3rem;
    transition: 0.2s;

}

#doctor_image .doc-img{
    width: 100%;
    height: 100%;
    background-color: #c9d8ff;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

#doc_detail{
    /* border: 2px solid red; */
    padding-top: 1rem;
    border: 1.5px solid #ada7a7;
    border-radius: 10px;
    height: 243px;
    width: 90%;

}

.right{
    /* border: 2px solid greenyellow; */
    margin-top: 1.5rem;
    text-indent: 1rem;
    color: #161515 !important;
}

.doc_name h1{
    display: inline;
    font-size: 28px;
    font-weight: 600;
    color: #333333;

}

.doc_name img{
    height: 22px;
    margin-left: 0.3rem;
}
.doc_spec{
    margin-top: 0.3rem;
}

.doc_spec h3{
    display: inline;
    font-weight: 530;
    font-size: 15.6px;

}
#about_doc{
    margin-top: 1rem;
}

#about_doc div{
    word-wrap: break-word;
    text-indent: 0rem !important;
    margin-left: 1rem;
    text-overflow: ellipsis;
    margin-top: 0.2rem;
}
#about_doc h3{
    font-size: 15.6px;
    font-weight: 650;
    margin-right: 0.3rem; 
    display: flex;
    align-items: center;
    gap: 0.3rem;
   } 
   
   .ap_fee{
    margin-top: 1.5rem;
    font-weight: 530;
    font-size: 15.6px;


   }

   .ap_fee h3{
    display: inline;
    font-size: 15.6px;
    font-weight: 650;
    margin-left: 0.2rem;
   }

   #experience{

    text-indent: 0rem;
    display: inline-flex;
    margin-left: 0.4rem;
    border: 1px solid #625b5b;
    border-radius: 7px;
    width: 55px;
    text-align: center;
    align-items: center;
    justify-content: center;

   }
   #experience h3{
    font-size: 14px;
   }

   #ap_days{
    margin-top: 2rem;
   }

   #ap_days h3{

    font-weight: 590;
    font-size: 15px;

   }

   .appoint_day{
    display: flex;
    margin-top: 0.8rem;
    /* border: 2px solid blue; */
    align-items: center;
    margin-left: 1rem;
    gap: 0.9rem;
    width:fit-content;
    
   }

   .ap_btn{
    background: #f3f8ff;
    color: #504949;
    height: 65px;
    width: 45px;
    border-radius: 14px;
    border: 1px solid #787272;
   }


   .ap_btn:hover{
    
    background:#5f6fff;
    color: white;
    cursor: pointer;

   }
 
   .ap_btn:active{

    background:#5f6fff;
    color: white;
   }

   #ap_time{
    width: fit-content;
    display: flex;
    margin-left: 1rem;
    gap: 0.9rem;
    margin-top: 1rem;
    /* border: 2px solid greenyellow; */
   }

   #ap_time .ap_time_btn{

    font-weight: 440;
    font-size: 13.6px;
    height: 35px;
    width: 82px;
    border-radius: 20px;
    border: 1px solid #ada7a7;
    background: transparent;
    color: #5e5a5a;
    cursor: pointer;

   }

   #ap_time .ap_time_btn:hover{
    background:#5f6fff;
    color: white;
   }

   #ap_time .ap_time_btn:active{
    background:#5f6fff;
    color: white;
   }


   #bok_appoint{
    margin-top: 3rem;
   }

   .ap_book{
    font-weight: 533;
    font-size: 15.6px;
    background: #5f6fff;
    color: white;
    height: 38px;
    width: 21.5vw;
    border-radius: 20px;
    border: none;
    cursor: pointer;
   }

   .ap_book:hover{
    transform: scale(1.05);
   }

    


