footer .footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    
}

footer .footer-container .info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer-container .info .footer-image img{
    width: 200px;
    height: 100px;
}

footer .footer-container .info .footer-desc{
    padding-left: 3rem;
    text-align: justify;
}
footer .footer-container .links{
    width: 60%;
}


footer .footer-container .links ul li {
    list-style: none;
    padding-bottom: 1rem;
}

