
footer {
    width: 100%;
    margin-top: 4rem;
    height: auto;
    background-color: #5f6fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}




footer .footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

footer .footer-container .info {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer-container .info .footer-image img {
    width: 200px;
    height: 100px;
}

footer .footer-container .info .footer-desc {

    width: 400px;
    text-align: justify;
}


footer .footer-container .links ul li {
    list-style: none;
    padding-bottom: 1rem;
}

@media (max-width:780px) {

    footer .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

}

@media (max-width:450px){
    footer .footer-container .info .footer-desc{
        display: none;
    }
}

