@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", serif;
}

body {
    background-color: #fff;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 100%;
    height: 60vh;
    background-color: #5f6fff;
    margin-top: 2rem;
    /* border-radius: 2rem; */
    display: flex;
    justify-content: space-evenly;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
}

.left .heading {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.left .sub-heading {
    font-size: 0.9rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    /* text-indent: 2rem; */
}

.btn-and-info {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.sideinfo {
    width: 9rem;
    font-size: 0.9rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}

.right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.right img {
    width: 80%;
}

.features {
    margin-top: 4rem;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
}

.subheading {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    width: 40rem;
}

.features .feat .list {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-right: 4rem;
}

.features .feat .list .spec {
    border: 2px solid #b8e1d0;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.2s;
}

.features .feat .list .spec:hover {
    background-color: #c9d8ff;
}

.features .feat .list .obs {
    grid-area: 2/1/2/3;
}

.features .feat img {
    width: 300px;
    height: 300px;
}

.stats {
    margin-top: 2rem;
    height: 20vh;
    background-color: #5f6fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats div {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.doctor-card {
    margin-left: 3rem;
    margin-top: 4rem;
}

.doctor-card .doc-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.last-cta {
    margin-top: 4rem;
    height: 30vh;
    background-color: #5f6fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.reviews {
    margin-top: 4rem;
    margin-left: 3rem;
}

.rev {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.review-list {
    width: 400px;
    border: 2px solid #c9d8ff;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.rev-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rev-msg {
    width: 70%;
    padding: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 25px;
}

.rev-img img {
    width: 100px;
    height: 100px;
}

.rev-img .rev-name {
    font-weight: 600;
}

footer {
    width: 100%;
    margin-top: 4rem;
    height: 40vh;
    background-color: #5f6fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    gap: 3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

@media (max-width:1400px) {

    /* minimize doctor list columns  */
    .doctor-card .doc-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:1350px) {

    /* minimize features section  */
    .features .feat .list {
        grid-template-columns: 1fr 1fr;
    }

    .rev {
        grid-template-columns: 1fr 1fr;
    }

    .subheading {
        width: 30rem;
    }
}

@media (max-width:1140px) {

    .doctor-card .doc-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:1100px) {

    /* make responsive hero section  */
    .left .heading,
    .left .sub-heading {
        width: 60%;

    }

    .subheading {
        width: 20rem;
    }
}

@media (max-width:935px) {

    .left .heading,
    .left .sub-heading {
        width: 80%;

    }

    .rev {
        grid-template-columns: 1fr;
    }

    .doctor-card .doc-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:760px) {

    .left .heading,
    .left .sub-heading {
        width: 100%;

    }

    .stats {
        flex-direction: column;
    }

    .stats div {
        font-size: 1.5rem;
    }

    .right {
        display: none;
    }

    .left {
        justify-content: center;

    }

    .features {
        grid-template-columns: 1fr;
    }

    .features .other{
        display: none;
    }
}

@media (max-width:600px) {
    .doctor-card .doc-list {
        grid-template-columns: repeat(1, 1fr);
    }
}